In [1]:
import pymongo
import pandas as pd
from pymongo import MongoClient


import numpy as np
import pandas as pd
import scipy.stats as stats

import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('ggplot')

In [2]:
client = MongoClient()
db_nba= client.nba
collection = db_nba.player_stats
df_nba = pd.DataFrame(list(collection.find()))

Let's take a high-level look at our dataframe.

In [3]:
df_nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17675 entries, 0 to 17674
Data columns (total 66 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   17675 non-null  object
 1   GROUP_SET             17675 non-null  object
 2   GROUP_VALUE           17675 non-null  object
 3   TEAM_ID               17675 non-null  int64
 4   TEAM_ABBREVIATION     17675 non-null  object
 5   MAX_GAME_DATE         17675 non-null  object
 6   GP                    17675 non-null  int64
 7   W                     17675 non-null  int64
 8   L                     17675 non-null  int64
 9   W_PCT                 17675 non-null  float64
 10  MIN                   17675 non-null  float64
 11  FGM                   17675 non-null  int64
 12  FGA                   17675 non-null  int64
 13  FG_PCT                17675 non-null  float64
 14  FG3M                  17675 non-null  int64
 15  FG3A                  17675 non-null  int64
 16  FG3_PCT               17675 non-null  float64
 17  FTM                   17675 non-null  int64
 18  FTA                   17675 non-null  int64
 19  FT_PCT                17675 non-null  float64
 20  OREB                  17675 non-null  int64
 21  DREB                  17675 non-null  int64
 22  REB                   17675 non-null  int64
 23  AST                   17675 non-null  int64
 24  TOV                   17675 non-null  int64
 25  STL                   17675 non-null  int64
 26  BLK                   17675 non-null  int64
 27  BLKA                  17675 non-null  int64
 28  PF                    17675 non-null  int64
 29  PFD                   17675 non-null  int64
 30  PTS                   17675 non-null  int64
 31  PLUS_MINUS            17675 non-null  int64
 32  NBA_FANTASY_PTS       17675 non-null  float64
 33  DD2                   17675 non-null  int64
 34  TD3                   17675 non-null  int64
 35  GP_RANK               17675 non-null  int64
 36  W_RANK                17675 non-null  int64
 37  L_RANK                17675 non-null  int64
 38  W_PCT_RANK            17675 non-null  int64
 39  MIN_RANK              17675 non-null  int64
 40  FGM_RANK              17675 non-null  int64
 41  FGA_RANK              17675 non-null  int64
 42  FG_PCT_RANK           17675 non-null  int64
 43  FG3M_RANK             17675 non-null  int64
 44  FG3A_RANK             17675 non-null  int64
 45  FG3_PCT_RANK          17675 non-null  int64
 46  FTM_RANK              17675 non-null  int64
 47  FTA_RANK              17675 non-null  int64
 48  FT_PCT_RANK           17675 non-null  int64
 49  OREB_RANK             17675 non-null  int64
 50  DREB_RANK             17675 non-null  int64
 51  REB_RANK              17675 non-null  int64
 52  AST_RANK              17675 non-null  int64
 53  TOV_RANK              17675 non-null  int64
 54  STL_RANK              17675 non-null  int64
 55  BLK_RANK              17675 non-null  int64
 56  BLKA_RANK             17675 non-null  int64
 57  PF_RANK               17675 non-null  int64
 58  PFD_RANK              17675 non-null  int64
 59  PTS_RANK              17675 non-null  int64
 60  PLUS_MINUS_RANK       17675 non-null  int64
 61  NBA_FANTASY_PTS_RANK  17675 non-null  int64
 62  DD2_RANK              17675 non-null  int64
 63  TD3_RANK              17675 non-null  int64
 64  CFID                  17675 non-null  int64
 65  CFPARAMS              17675 non-null  object
dtypes: float64(6), int64(54), object(6)
memory usage: 8.9+ MB

We won't need any of the ranking values, so let's get rid of those.

In [7]:
remove = []
for col in df_nba.columns:
    if 'RANK' in col:
        remove.append(col)
        
df_nba.drop(columns = remove, inplace=True)

In [8]:
df_nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17675 entries, 0 to 17674
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                17675 non-null  object
 1   GROUP_SET          17675 non-null  object
 2   GROUP_VALUE        17675 non-null  object
 3   TEAM_ID            17675 non-null  int64
 4   TEAM_ABBREVIATION  17675 non-null  object
 5   MAX_GAME_DATE      17675 non-null  object
 6   GP                 17675 non-null  int64
 7   W                  17675 non-null  int64
 8   L                  17675 non-null  int64
 9   W_PCT              17675 non-null  float64
 10  MIN                17675 non-null  float64
 11  FGM                17675 non-null  int64
 12  FGA                17675 non-null  int64
 13  FG_PCT             17675 non-null  float64
 14  FG3M               17675 non-null  int64
 15  FG3A               17675 non-null  int64
 16  FG3_PCT            17675 non-null  float64
 17  FTM                17675 non-null  int64
 18  FTA                17675 non-null  int64
 19  FT_PCT             17675 non-null  float64
 20  OREB               17675 non-null  int64
 21  DREB               17675 non-null  int64
 22  REB                17675 non-null  int64
 23  AST                17675 non-null  int64
 24  TOV                17675 non-null  int64
 25  STL                17675 non-null  int64
 26  BLK                17675 non-null  int64
 27  BLKA               17675 non-null  int64
 28  PF                 17675 non-null  int64
 29  PFD                17675 non-null  int64
 30  PTS                17675 non-null  int64
 31  PLUS_MINUS         17675 non-null  int64
 32  NBA_FANTASY_PTS    17675 non-null  float64
 33  DD2                17675 non-null  int64
 34  TD3                17675 non-null  int64
 35  CFID               17675 non-null  int64
 36  CFPARAMS           17675 non-null  object
dtypes: float64(6), int64(25), object(6)
memory usage: 5.0+ MB

In [9]:
df_nba.head()

,_id,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,MAX_GAME_DATE,GP,W,L,W_PCT,...,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,CFID,CFPARAMS
0,5eb88bb35e7937b47b59984a,By Year,2002-03,1610612738,BOS,2003-04-16T00:00:00,41,21,20,0.512,...,6,62,0,72,-58,220.1,0,0,264,2002-03
1,5eb88bb35e7937b47b59984b,By Year,2001-02,1610612763,MEM,2002-04-05T00:00:00,66,18,48,0.273,...,16,123,0,417,-384,1020.2,0,0,264,2001-02
2,5eb88bb35e7937b47b59984c,By Year,2000-01,1610612763,VAN,2001-04-18T00:00:00,66,19,47,0.288,...,12,160,1,396,-220,1048.3,1,0,264,2000-01
3,5eb88bb35e7937b47b59984d,By Year,1999-00,1610612763,VAN,2000-03-21T00:00:00,42,13,29,0.310,...,7,108,31,203,-62,664.3,0,0,264,1999-00
4,5eb88bb35e7937b47b59984e,By Year,1998-99,1610612737,ATL,1999-05-05T00:00:00,50,31,19,0.620,...,25,143,2,489,205,1068.7,5,0,264,1998-99