In [1]:
from pymongo import MongoClient
import pprint

import pandas as pd

import numpy as np

# Requests sends and recieves HTTP requests.
import requests

# Beautiful Soup parses HTML documents in python.
from bs4 import BeautifulSoup

import json
import time

In [2]:
# Make sure when starting mongo docker container, that the hosting route is at -p 27017:27017

client = MongoClient('localhost', 27017)
db_nba = client['nba_yearly']

player = db_nba['players']

In [3]:
url = 'https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130428&end=20200409'

In [4]:
r = requests.get(url)
r.status_code

200

In [5]:
# whole_page.insert_one({'html': r.content, 'url':url, 'time_scraped':time.time()})

In [6]:
soup = BeautifulSoup(r.text, 'html.parser')

In [7]:
all_rows = soup.find_all('tr', class_="cmc-table-row")

In [8]:
one_tag = all_rows[0]

date, o, h, low, c, vol, cap = [i.text for i in one_tag.find_all('td')]

date, o, h, low, c, vol, cap

('Apr 08, 2020',
 '7,179.28',
 '7,356.22',
 '7,153.31',
 '7,334.10',
 '37,563,249,549',
 '134,309,895,036')

In [9]:
def convert_scraped(val):
    
    """
    PARAMETERS:
    a string number in the form of html converted to text
    
    RETURNS: that string number cast to a float
    """
    
#     lst_proper = []

#     for datum in lst_val:
#         
    #split number string into list and remove comma
    lst = .split(',')
    str_ = ''
    
    # reaccumulate number into string without a comma
    for i in lst:
        str_ += i
    
    # cast string number to float
    fl = float(str_)
#   
    return fl

In [10]:
convert_scraped(o)

7179.28

In [11]:
def date_converter(date):
    
    """
    PARAMETERS
    date - string in format 'month_name 2-digit-day, 4-digit-year'
    
    RETURNS
    date in new string format '2-digit-month, 2-digit-day, 4-digit-year'
    """
    
    dct_month = {
        'Jan': '01',
        'Feb': '02',
        'Mar': '03',
        'Apr': '04',
        'May': '05',
        'Jun': '06',
        'Jul': '07',
        'Aug': '08',
        'Sep': '09',
        'Oct': '10',
        'Nov': '11',
        'Dec': '12'
    }
    
    lst_date = date.split()
    lst_date.reverse()
    
    
        
    str_yr = lst_date[0]
    
    str_mo = dct_month[lst_date[2]]
    
    # get rid of comma after day
    str_d = lst_date[1][:-1]
    
    str_date = f'{str_yr}-{str_mo}-{str_d}'

    return str_date

In [12]:
def scrape_rows_arr(all_rows):
    
    """
    PARAMETERS
    
    -List of rows to scrape
    
    RETURN
    
    None - Uploads data to mongo db table for later pulling
    
    """
    
#     # create accumulator lst
#     lst = []
    
    # iterate across all rows
    for row in all_rows:
        
#         # create sublist to append all data for a given date
#         lst_date = []
        # parse out all relevant data
        date, o, h, low, c, vol, cap = [i.text for i in row.find_all('td')]        
        
        # cast date to same format as reddit data
        date_f = date_converter(date)
        
        # cast other scraped string numbers to float
#         o_f, h_f, low_f, c_f, vol_f, cap_f = convert_scraped([o, h, low, c, vol, cap])
        
        #create dictionary for individual entry to mongo db
        d_coin = {'Date': date_f,
                  'Open': convert_scraped(o),
                  'High': convert_scraped(h),
                  'Low': convert_scraped(low),
                  'Close': convert_scraped(c),
                  'Volume': convert_scraped(vol),
                  'Market Cap': convert_scraped(cap)}
        
        #insert entries to mongo db
        pricing.insert_one(d_coin)
    
    return None
#         lst_date.append(date_f)
        
        # create list of string numbers to be cast as float
        
#         lst_final = convert_scraped([o, h, low, c, vol, cap])
#         for i in lst_final:
#             lst_date.append(i)
        
#         lst.append(lst_date)

        
#     arr = np.array(lst)
    
scrape_rows_arr(all_rows)